body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}
/* Estas líneas de CSS las usaremos para dar estilo a la cabecera: */
	#main-header a {
		color: white;
	}
/*

 * Navegación
 */
nav {
	float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}
        
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
        
nav ul li a:hover {
    background: #0b76a6;
}
/* Con estos estilos aplicaremos diseño al contenido: */

.main-content {
	background: white;
	width: 90%;
	max-width: 1500px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	.main-content header,
	.main-content .content {
		padding: 30px;
		background-color: #f2f2f2;
	}
/* Y por último, con esto estilizaremos el pie de página: */

#main-footer {
	background: black;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
    /* Fijando la cabecera */
    #main-header {
        background: black;
        color: white;
        height: 100px;
        
        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0; /* Posicionamos la cabecera al lado izquierdo */
        top: 0; /* Posicionamos la cabecera pegada arriba */
        position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
        color: #666;
        background: #f2f2f2; 
        font-size: 1em;
        line-height: 1.5em;
        
        padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
    }

/* iconos  */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 5px;
    text-decoration: none;
    margin: 5px 80px;
}
/* fin iconos */


.parrafo{
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
}

#pastor{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	width: 800px;
}

.servicioImg{
	max-height:50%;
	max-width:50%;
}
.tituloServicio{
	padding-left:  50px;
}
.parrafoServicio{
	text-align: center;
	color: dimgray;
}
section[id]{
	scroll-margin-top:100px;
}
*{
	background-size: blue;
}

